{% include base_path %}

<div class="archive__item">

  {% if post.id %}
    {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
  {% else %}
    {% assign title = post.title %}
  {% endif %}

  {% if post.collection == 'publications' %}
    <div class="archive__item-citation">
      {{ post.citation | markdownify | remove: '<p>' | remove: '</p>' }} 
      <span class="publication-links">
        {% if post.paperurl %}[<a href="{{ post.paperurl | relative_url }}">PDF</a>]{% endif %}
        {% if post.link %}[<a href="{{ post.link }}">DOI</a>]{% endif %}
        {% if post.gscholar_id %}[<a href="{{ post.gscholar_id }}">Google Scholar</a>]{% endif %}
      </span>
    </div>

  {% else %}
    <h3 class="archive__item-title" itemprop="headline">
      <a href="{{ post.permalink | relative_url }}" rel="permalink">{{ title }}</a>
    </h3>
    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}
  {% endif %}
  
</div>